/* Fuentes*/




/* Inicio Footer*/

.footer{
  background-color: #383634;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
 
 
  
}

.col{
  flex-basis:0 ;
  flex-grow: 1;
 max-width: 30%;

 flex-direction: column; /* Alinea los contenidos verticalmente */
 align-items: center; /* Alinea los contenidos horizontalmente */
 text-align: center; /* Alinea el texto horizontalmente (opcional) */
 }

.hora img{width: 50%;}
.pais img{width: 70%;}
.escuela img{width: 35%}

/* Fin Footer*/
body{
margin:0;
padding: 0 
}
#contenedor{
  width: 100%;
  background-color: white;
  position:absolute;
  top: 60;
 margin-left: 0;
}
.centrado{
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  left: 0;
  
}
.pie{
width: 100%;
background-color: #383634;
color: white;
font-family: 'Futura Std', sans-serif; font-size: 13px ; 
}


.dos_mapas {
  display: flex;
  justify-content: center; /* Centra horizontalmente los elementos */
  align-items: center; /* Centra verticalmente los elementos (opcional) */
width: 100%;

}

.intertitulo{
  font-family: 'Futura Std', sans-serif;
  color: #1d1d1b  
}

p{
  font-family: 'Futura Std', sans-serif; font-size: 18px ; line-height:28px ;
                                                
  text-align: justify;
}

.topnav {
  background-color: #383634;
  overflow: hidden;
  font-family: 'Futura Std', sans-serif;
  z-index:1;
  position:fixed;
  width:100%;
  top:0;
  left:0
}

#centrarmenu{
  width: 100%;
  max-width: 1500px;
  margin-left: 70px ;
}

#centrarmenu a{
  margin-left: 80px;
}

.foto100 img{
  width:100%;
  margin:0 ;
}

.scrolly-overlay {
  position: relative;
  padding: 0;
  max-width: 35rem;
  margin: 0 auto;
}

.sticky-thing {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  width: 100%;
  margin: 0;
  z-index: 0;
  top: 0;
  height: 100vh;
  /* Center everything inside */
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
}

.step {
  margin: 0 auto 2rem auto;
  margin-bottom: 40rem;
  background-color: #eee;
  background-color: #fff;
  color: black;
}

.step p {
  text-align: center;
  padding: 1rem;
  font-size: 1.25rem;
}

.hidden { visibility: hidden; 
}

                                                     /* Inicio Menú Hamburguesa */

/* Style the links inside the navigation bar */
.topnav a {
  float:left;
  display: block;
  color: white;
  text-align: left;
  padding: 11px 14px;
  text-decoration: none;
  font-size: 17px;
  
}


/* Change the color of links on hover */

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: e40520;
  color: black;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  position: fixed; /* Fija el ícono en su lugar */
  top: 0; /* Lo coloca en la parte superior */
  right: 0; /* Lo coloca en la esquina superior derecha */
  padding: 14px 16px;
  display: none;
  font-size:24px
}
                                                /* Final Menú Hamburguesa */  

#portadacelular{
    display: none
}
.dos_mapas_celular{
  display:none ;
}
          
/* When it's less than 700 pixels wide, do normal scrollytelling */
@media only screen and (min-width: 700px) {
  #scrolly.side-by-side {
    display: flex;
  }

  #scrolly.side-by-side > div {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0.75em;
  }

  #scrolly.side-by-side .scrolly-overlay {
    margin-top: 70vh;
    order: 0;
    /* Change these to adjust sizing options */
    min-width: 15rem;
    max-width: 20rem;
  }

  #scrolly.side-by-side .sticky-thing {
    order: 1;
    flex-grow: 2;
  }
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child)  {display: none;}
  .topnav a.icon { 
    display: block;
  }

}
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */

@media screen and (max-width: 600px) {
  
  #portadaweb{
      display: none;
  }
  #portadacelular{
    display: block
  }
  .intertitulo{
          font: size 1.5em;
          line-height: 2.5em;
         margin-left:20px ; 
         margin-right: 10px;
      }
  p{
  margin-left:20px;
  margin-right:20px;
  font-size:1.2em;    
  }
.dos_mapas{
  display: none;
}
 .dos_mapas_celular{
display: block;  
}
#centrarmenu a{
  margin-left: -60px;
}

.hora img{width: 80%;}
.pais img{width: 110%;}
.escuela img{width: 65%}

.topnav.responsive { 
    position: fixed; /* Fija el menú en su lugar */
    top: 0; /* Lo coloca en la parte superior */
    right: 0; /* Lo coloca en la esquina superior derecha */}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  iframe {
    width: 100%;
  }
}   